# See https://roots.io/bedrock/docs/environment-variables/
DB_NAME='db'
DB_USER='db'
DB_PASSWORD='db'
DB_HOST='db'
WP_HOME="${DDEV_PRIMARY_URL}"
WP_SITEURL="${DDEV_PRIMARY_URL}/wp"

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='3/ey.IVX.W.q=@t9YI4;c#!;){FqRiD#%STCx(wHYsHX#v-J{j_&lhpNB#[DWG*{'
SECURE_AUTH_KEY='orOXA;8XgBd.mx1XKw|Qvc<+NpbB*$9Gv?U=@[z34_=-GI;5E*s[Fpa2wT9=[V_I'
LOGGED_IN_KEY='hd{gTWHJt<Yf,$(o/xE7t<U1e3e.6a=1Sf8%[x-3fb7yqIm@<YE:E?mq@qUM)ux0'
NONCE_KEY='(`c67F7rl3:0xch1N2shpr6Hvha0T/$}ZXn}EiTesR0=C2+%cd%?oWkC5TqfJor*'
AUTH_SALT='*NdK1y0KX<FK0`(CPwiOWA:HbU}hKP[uLkU($&WbE!Yk{8xHm!;tJJ262:J@KL,H'
SECURE_AUTH_SALT='r^:/[n4dS@6<VfM.DIE2xqnn!]a,Hz>i+?BiQbfn6nkW!c`qz*js)|kZYpTE]UNJ'
LOGGED_IN_SALT='&pOA;WbQ(e|r)f{5V3y*}tZVC0Fu3rJ.:)gQeC|5}J84EB(?-N6|=435chpa1)<h'
NONCE_SALT='Foe}92F]IA|T#;]*Qd`bJbW7?doVv`MtJ)uOO=G4mhP}(%o|`CrTv90Ga]I16)bS'
